<template>
  <div :class="PREFIX">
    <video ref="videoPlayer" :src="videoSrc" controls></video>
  </div>
</template>

<script src="./cmp-video.ts" lang="ts"/>
<style src="./cmp-video.scss" lang="scss" scoped/>
