@import "../../../assets/styles/variables";

$prefix: cmp-video;

.#{$prefix} {    
    padding: $pix-50 0 0 0;

    video {
        background-color: var(--gray-light, $gray-light);
        border-radius: $pix-10;
        border: $pix-1 solid var(--gray-light, $gray-light);
        height: $pix-500;
        width: $per-100;
    }
}
