@import "./_variables.scss";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $gray-light;
    font-family: Roboto, sans-serif;
    margin: 0;    
}